{% extends "base.html" %}
{% load static %}

{% block title %}
	The Blog
{% endblock %}

{% block body %}
	<div class="container">
		<h1>
		Welcome to my blog!
            <br>

		<br />
		</h1>
        I have {{ posts_count}} posts in my blog.
		<img src="{% static 'images/hassan.jpg' %}" alt="imam" width="500px">
		<h2>Latest Posts</h2>
		<ul>
			{% for post in latest_posts %}
				<li>
					<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
					<small>({{ post.created_at|date:"Y-m-d H:i" }})</small>
				</li>
			{% empty %}
				<li>No posts yet.</li>
			{% endfor %}
		</ul>
		<a href="{% url 'post_list' %}">View all posts</a>
	</div>
{% endblock %}



