{% extends "shared/_base.html" %}
{% load static %}

{% block title %}
	The Blog
{% endblock %}

{% block banner %}

{% endblock %}

{% block content %}
	<div class="container">
		<center>

        <h1>
		Welcome to my blog!
            <br>


		<br />
		</h1>
        </center>
        I have {{ posts_count}} posts in my blog.
		<br />

        # -> your last viewed posts : {% for seen_post in seen_posts %}
        	<p>{{ seen_post.title }}</p>
        {% endfor %}


		<img src="{% static 'images/hassan.jpg' %}" alt="imam" width="500px">
		<h2>Latest Posts</h2>
		<ul>
			{% for post in latest_posts %}
				<li>
					<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
					<small>({{ post.created_at|date:"Y-m-d H:i" }})</small>
				</li>
			{% empty %}
				<li>No posts yet.</li>
			{% endfor %}
		</ul>
		<a href="{% url 'post_list' %}">View all posts</a>
	</div>
{% endblock %}



