{% extends "base.html" %}

{% block title %}All Posts{% endblock %}

{% block body %}
<div class="container">
<h1>All Blog Posts</h1>
<ul>
    {% for post in posts %}
        <li>
            <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
            <small>({{ post.created_at|date:"Y-m-d H:i" }})</small><br>
            {{ post.content|truncatewords:20 }}
        </li>
    {% empty %}
        <li>No posts available.</li>
    {% endfor %}
</ul>
<a href="{% url 'firstPage' %}">Back to Home</a>
</div>
{% endblock %} 