{% extends "shared/_base.html" %}


{% block title %}همه پست ها{% endblock %}
{% block banner %}همه پست ها{% endblock %}

{% block  content%}
    <section class="blog-area blog-section ptb-100">
        <div class="container">
        <p> صفحه {{ page_obj.number }}</p>
                <div class="row">
                    {% for post in posts %}



                    <div class="col-lg-4 col-md-6">
                        <div class="single-blog-post">
{#                            <a href="{% url 'post_detail' post.slug %}" class="post-image"><img src="../static/assets/img/blog-img1.jpg" alt="blog-image"></a>#}

                            <div class="blog-post-content">
                                <ul>
                                    <li><i class="icofont-user-male"></i> <a href="#">ادمین</a></li>
                                    <li><i class="icofont-wall-clock"></i> اسفند 1397</li>
                                </ul>
                                <h3><a href="{% url 'post_detail' post.slug %}"> {{ post.title }} </a></h3>
                                <p> {{ post.content |slice:":300" }} ...</p>
                                <a href="{% url 'post_detail' post.slug %}" class="read-more-btn">ادامه مطلب <i class="icofont-rounded-double-right"></i></a>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
<div class="col-lg-12 col-md-12">
						<div class="pagination-area">
							<nav aria-label="Page navigation example">
								<ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
									<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="icofont-double-left"></i></a></li>
									{% endif %}
                                    {% for page_number in paginator.page_range %}
									<li class="page-item {% if page_number == page_obj.number %}active{% endif %}"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>

									{% endfor %}

                                {% if page_obj.has_next %}
									<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="icofont-double-right"></i></a></li>
                                {% endif %}
								</ul>
							</nav>
						</div>
					</div>

				</div>
			</div>
		</section>
{% endblock %}