{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<div class="container">
<h1>{{ post.title }}</h1>
<p><small>Published: {{ post.created_at|date:"Y-m-d H:i" }}</small></p>
<p>Stars: {{ post.stars }}</p>
{% if post.tags.all %}
    <div class="hashtags">
        {% for tag in post.tags.all %}
            <span class="hashtag">#{{ tag.title }}</span>

        {% endfor %}
    </div>
{% endif %}
<div>
    {{ post.content|linebreaks }}
</div>
<a href="{% url 'post_list' %}">Back to All Posts</a> |
<a href="{% url 'firstPage' %}">Home</a>
</div>
{% endblock %} 